
.badge-container{
    margin-top: 6rem;
    margin-bottom: 0.1rem;
    margin-left: 210px;
    display: flex;
}

.badge-items{
    background-color: transparent;
    margin: 0.5rem;
    padding: 5px 12px !important;
    border: solid 1px #ccc;
    cursor: pointer;
  transition: all 0.2s ease-in-out;

}

.badge-items:hover{
    background-color: #ece9e9;

}
.active{
    background-color: #ece9e9;
  /* box-shadow: 3px 3px 0px 0px #686868; */

}

.badge-hover{
    color: black !important;
}

/* .badge-all{
    font-weight: bold;
    background-color: #ccc;
} */

.badge-items.active-text {
    color: black;
    font-weight: bold;
    background-color: #ccc;
}