

/* .video-card-container{
    margin-left: 215px;
   
} */

/* .video-card-container:hover{
    background-color: #ccc;
    
} */

.video-card{
    width: 259px;
    height: 236px;
    margin-top: 1rem;
    border-radius: 10px;
    border: solid 2px transparent;
    border-radius: 10px 10px 0 0 ;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-right: 20px;
    position: relative;
}

.video-card:hover{
    border: solid 2px #ccc;
}

.img-section{
    width: 259px;
    border-radius: 10px 10px 0 0 ;

}
.channel-logo{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    position: absolute;
}

.video-description{
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center; */
    /* background-color: #ccc; */
    font-size: 14px;
    padding: 5px 4px 8px 6px;
    border-bottom: solid 1px #ccc;

}

.more-info{
    margin: 0 8px 0 2px; 
    cursor: pointer;
    
}

.channel-name{
    font-weight: 600;
    margin-left: 45px;
}

.content{
    margin: 0 5px 0 45px;
    height: 38px;
}

.options{
    width: 202px;
    font-size: 13px;
    position: absolute;
    top: 11.3rem;
    right: 1.8rem;
    background-color: #ccc;
    border: solid 1px #363636;
    border-radius: 3px;
}

.option-border{
    border-bottom: solid 1px #363636;
}

.choose-option{
    cursor: pointer;
    padding: 7px 5px;
    z-index: 100;
}

.choose-option:hover{
    background-color: #b8b4b4;
}

.option-position{
    position: absolute;
    top: 182px;
    right: -5px;
}

.option-icon{
    background-color: transparent;
    border-radius: 50%;
    padding: 4px 10px;
   
}

.option-icon:hover{
    background-color: #ccc;
}